@font-face {
  font-family: 'Lato';
  src: url("../fonts/latoregular.woff2") format("woff2");
  src: url("../fonts/latoregular.woff") format("woff");
  src: url("../fonts/latoregular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/latomedium.woff2") format("woff2");
  src: url("../fonts/latomedium.woff") format("woff");
  src: url("../fonts/latomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/latosemibold.woff2") format("woff2");
  src: url("../fonts/latosemibold.woff") format("woff");
  src: url("../fonts/latosemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: 'Lato';
  src: url("../fonts/latobold.woff2") format("woff2");
  src: url("../fonts/latobold.woff") format("woff");
  src: url("../fonts/latobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Lato', sans-serif;
  padding-bottom: 100px; }

.wrap {
  max-width: 1160px;
  margin: 0px auto; }

header {
  width: 100%;
  height: 957px;
  background: radial-gradient(49.42% 123.56% at 56.97% 55.65%, #FFFFFF 0%, #EBF2F9 53.59%, #E8F0F7 84.65%);
  overflow: hidden; }

.nav {
  position: relative;
  width: 98%;
  height: 105px;
  background-color: #fff;
  top: 20px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.04);
  border-radius: 15px; }
  .nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 105px; }
  .nav_logo {
    margin-top: 3px; }
  .nav_href a {
    font-weight: 400;
    font-size: 16px;
    line-height: 140.5%;
    text-decoration: none;
    color: #747474;
    margin-right: 55px;
    transition: .4s; }
    .nav_href a:last-child {
      margin-right: 0px; }
    .nav_href a:hover {
      color: #094FAE; }
  .nav_sing_in a {
    font-weight: 400;
    font-size: 16px;
    line-height: 140.5%;
    text-decoration: none;
    color: #747474;
    border: 1px solid #26C8F0;
    border-radius: 20px;
    padding: 9px 42px;
    transition: .4s;
    background: transparent; }
    .nav_sing_in a:hover {
      background: #29C1E7;
      color: #fff; }
  .nav_language a {
    font-weight: 400;
    font-size: 16px;
    line-height: 140.5%;
    text-decoration: none;
    color: #094FAE;
    text-decoration: underline; }

.header_content {
  margin-top: 150px;
  position: relative; }
.header_h1 {
  width: 54%; }
  .header_h1 h1 {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 1.4;
    color: #094FAE; }
.header_p {
  width: 40%;
  margin-top: 30px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  color: #747474; }
.header_button {
  width: 45%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px; }
.header_reg a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
  padding: 28px 33px;
  background: #29C1E7;
  border-radius: 30px; }
.header_get {
  position: relative; }
  .header_get a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    letter-spacing: 0.03em;
    color: #094FAE;
    text-decoration: none; }
  .header_get p {
    position: absolute;
    top: 50%;
    transform: translateY(-57%);
    left: calc(100% + 10px);
    font-weight: 500;
    font-size: 21px;
    color: #094FAE; }
.header_img {
  position: absolute;
  top: 50%;
  transform: translateY(-43%);
  left: 47%; }

.z-2_block {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 430px;
  background: #fff;
  padding-top: 72px;
  box-shadow: 0px 15px 88px rgba(62, 68, 128, 0.12);
  border-radius: 15px;
  top: -180px; }
.z-2_header {
  margin-left: 84px;
  width: 53%;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 125%;
  color: #094FAE; }
.z-2_img {
  position: absolute;
  bottom: 0;
  left: 0; }
.z-2_content1, .z-2_content2, .z-2_content3 {
  position: absolute;
  display: inline-block;
  padding: 21px 30px;
  background: #FFFFFF;
  box-shadow: 0px 15px 88px rgba(62, 68, 128, 0.12);
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 145%;
  color: #747474; }
.z-2_content1 {
  top: 50%;
  left: 9%; }
.z-2_content2 {
  top: 55%;
  left: 45%; }
.z-2_content3 {
  top: 26%;
  left: 72%; }

.about_us {
  position: relative;
  margin-top: 45px; }
  .about_us_header {
    width: 61%;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 1.4;
    color: #094FAE; }
  .about_us_container {
    margin-top: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .about_us_block {
    width: 27%; }
    .about_us_block p {
      margin-top: 8px;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 145%;
      color: #747474; }
  .about_us_message {
    position: absolute;
    top: -80px;
    left: 60%; }

.bottom_block {
  margin-top: 75px; }

.how_work {
  margin-top: 130px;
  height: 1900px;
  width: 100%;
  background: radial-gradient(49.42% 123.56% at 56.97% 55.65%, #FFFFFF 0%, #F3F8FD 53.59%, #F3F8FD 84.65%);
  padding-top: 124px; }
  .how_work_header {
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 125%;
    color: #094FAE; }
  .how_work_block {
    position: relative;
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .how_work_block_text {
      width: 45%; }
  .how_work_text_main {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 140.5%;
    color: #094FAE; }
  .how_work_text_secondary {
    margin-top: 30px;
    width: 70%;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 155%;
    color: #596574; }
  .how_work_text_desc {
    margin-top: 36px;
    display: flex;
    justify-content: start;
    align-items: flex-start; }
    .how_work_text_desc img {
      margin-top: 5px; }
    .how_work_text_desc p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 155%;
      color: #747474;
      margin-left: 23px; }
  .how_work_free {
    position: absolute;
    top: 0;
    left: 31%; }

.reverse {
  flex-flow: row-reverse; }

.devices {
  margin-top: 120px;
  position: relative;
  overflow: hidden; }
  .devices_header {
    text-align: center; }
    .devices_header h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 38px;
      line-height: 125%;
      color: #094FAE; }
    .devices_header p {
      margin-left: auto;
      margin-right: auto;
      width: 40%;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 155%;
      color: #747474;
      margin-top: 42px; }
  .devices_content {
    width: 100%;
    text-align: center;
    padding-top: 190px;
    background: url(../img/devices_bg.png) center center no-repeat;
    background-size: cover; }
  .devices_elipse {
    position: absolute;
    top: -19%;
    left: 80%;
    transform: rotate(180deg); }

.not_all {
  margin-top: 120px;
  padding-top: 120px;
  height: 750px;
  width: 100%;
  background: radial-gradient(49.42% 123.56% at 56.97% 55.65%, #FFFFFF 0%, #F3F8FD 53.59%, #F3F8FD 84.65%); }
  .not_all_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .not_all_text {
    width: 40%; }
    .not_all_text h3 {
      font-style: normal;
      font-weight: bold;
      font-size: 38px;
      line-height: 125%;
      color: #094FAE; }
    .not_all_text p {
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 1.55;
      margin-top: 38px;
      color: #747474; }
    .not_all_text_button {
      margin-top: 63px; }
      .not_all_text_button a {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 162%;
        color: #fff;
        padding: 21px 65px;
        background-color: #29C1E7;
        text-decoration: none;
        border-radius: 30px; }

.advantage {
  margin-top: 150px; }
  .advantage_header {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 125%;
    color: #094FAE; }
  .advantage_container {
    position: relative; }

.main_line {
  margin-top: 320px;
  text-align: center; }

.elipse1 {
  position: absolute;
  content: '';
  top: -35%;
  left: 62%; }

.elipse2 {
  position: absolute;
  content: '';
  top: 67%;
  left: 36%; }

.elipse3 {
  position: absolute;
  content: '';
  top: -55%;
  left: 7%; }

.info1 {
  position: absolute;
  content: '';
  top: -30%;
  left: 78%; }

.info2 {
  position: absolute;
  content: '';
  top: 73%;
  left: 56%; }

.info3 {
  position: absolute;
  content: '';
  top: -43%;
  left: 15%; }

.text_for_elipse1 {
  transition: .4s;
  opacity: 0;
  width: 350px;
  position: absolute;
  top: -57%;
  left: 69%;
  content: '';
  padding: 18px 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 155%;
  text-align: center;
  box-shadow: 0px 15px 88px rgba(62, 68, 128, 0.12);
  border-radius: 5px;
  color: #747474;
  z-index: -1; }

.advantage_elipse1 a:hover + .text_for_elipse1 {
  opacity: 1; }

.text_for_elipse2 {
  transition: .4s;
  opacity: 0;
  width: 350px;
  position: absolute;
  top: 43%;
  left: 40%;
  content: '';
  padding: 18px 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 155%;
  text-align: center;
  box-shadow: 0px 15px 88px rgba(62, 68, 128, 0.12);
  border-radius: 5px;
  color: #747474;
  z-index: -1; }

.advantage_elipse2 a:hover + .text_for_elipse2 {
  opacity: 1; }

.text_for_elipse3 {
  transition: .4s;
  opacity: 0;
  width: 350px;
  position: absolute;
  top: -70%;
  left: 0%;
  content: '';
  padding: 18px 26px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 155%;
  text-align: center;
  box-shadow: 0px 15px 88px rgba(62, 68, 128, 0.12);
  border-radius: 5px;
  color: #747474;
  z-index: -1; }

.advantage_elipse3 a:hover + .text_for_elipse3 {
  opacity: 1; }

/*# sourceMappingURL=style.css.map */
